body {
    font-family: 'Times New Roman','sans-serif';
    }
/* Header/Logo Title */
.header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
    }
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* flex-direction: column; */
  flex-wrap: wrap;
  
}
.column{

  padding: 1em;

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    } 